PROMETHEUS_VERSION=v3.11.0
ALERTMANAGER_VERSION=v0.31.1
BLACKBOX_EXPORTER_VERSION=v0.28.0
NODE_EXPORTER_VERSION=v1.11.0
CADVISOR_VERSION=v0.55.1
GRAFANA_VERSION=12.4.2

PROMETHEUS_PORT=9090
ALERTMANAGER_PORT=9093
BLACKBOX_EXPORTER_PORT=9115
CADVISOR_PORT=8080
GRAFANA_PORT=3000

PROMETHEUS_RETENTION=15d
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me
GRAFANA_ROOT_URL=http://localhost:3000
